body {
  background: #0e7e12;
  box-sizing: border-box;
}

.container {
  position: relative;
}

.card {
  text-align: center;
  display: inline-block;
  background: white;
  margin: auto;
  height: 220px;
  width: 250px;
  font-size: 80px;
  padding: 20px;
  padding-top: 180px;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card .top {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 80px;
}

.card .bottom {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 80px;
}

.card.heart .top,
.card.heart .bottom {
  color: red;
}

.card.diamond .top,
.card.diamond .bottom {
  color: red;
}

.card.spade .top,
.card.spade .bottom,
.card.club .top,
.card.club .bottom {
  color: black;
}

.button {
  text-align: center;
  display: block;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 0);
}
